<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Developer - Health Care Center</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        font-family: 'Inter', sans-serif;
      }
    </style>
  </head>
  <body class="bg-gray-100 min-h-screen flex flex-col">
    {% include 'nav.html' %}
    <div class="container mx-auto px-4 py-8 mt-4">
      <h6 class="text-2xl font-bold text-gray-800 mb-4">About Kushal Singh: Your AI & ML Engineer</h6>
      <h5 class="text-xl font-bold text-gray-800 mb-4">Meet the Developer</h5>

      <p class="text-lg text-gray-700 mb-4">Hello, I'm Kushal Singh Rajpurohit, your AI and Machine Learning Engineer. I am passionate about harnessing the power of technology to make a positive impact on people's lives. Allow me to share a bit about my journey in the world of artificial intelligence and machine learning.</p>

      <h5 class="text-xl font-bold text-gray-800 mb-4">My Expertise</h5>
      <p class="text-lg text-gray-700 mb-4">With a strong academic background in computer science and a deep fascination for AI and ML, I embarked on a journey that has taken me across the globe, working on diverse and innovative projects. Over the years, I've had the privilege of collaborating on international projects that have pushed the boundaries of what's possible in AI and ML.</p>

      <h5 class="text-xl font-bold text-gray-800 mb-4">A Commitment to Excellence</h5>
      <p class="text-lg text-gray-700 mb-4">My work is driven by a commitment to excellence and a belief that technology should be accessible and beneficial to everyone. Whether it's developing predictive models, creating intelligent algorithms, or designing user-friendly interfaces, I strive for solutions that are both cutting-edge and user-centric.</p>

      <h5 class="text-xl font-bold text-gray-800 mb-4">Passion for Health Tech</h5>
      <p class="text-lg text-gray-700 mb-4">The development of [Your Website Name] represents a convergence of my passion for AI and my dedication to improving healthcare accessibility. I believe that AI has the potential to transform the way we approach healthcare, making it more personalized and informative. This platform is a testament to that vision.</p>

      <h5 class="text-xl font-bold text-gray-800 mb-4">Join Me on this Journey</h5>
      <p class="text-lg text-gray-700 mb-4">I invite you to explore [Your Website Name] and experience firsthand the fusion of AI and healthcare. Together, we can empower individuals with knowledge, promote well-being, and contribute to a brighter and healthier future.</p>
    </div>
  </body>
</html>
